<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('home')}}">Home</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Loai phong
      </a>
      <div class="dropdown-menu">
        {% for k in kindofroom %}
        <a class="dropdown-item" href="#">{{ k.name }}</a>
        {% endfor %}
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Lien he</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-info" href="{{ url_for('user_register') }}">Dang ky</a>
    </li>
  </ul>
    <form class="form-inline" action="/action_page.php">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-success" type="submit">Search</button>
  </form>
</nav>