<!--Navigation & Intro-->
<header>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('home') }}">NguyenAnCuc</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto smooth-scroll">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {% if request.path == "/" %}
          <li class="nav-item">
            <a class="nav-link" href="#about" data-offset="100">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#facilities" data-offset="100">Facilities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#offers" data-offset="100">Top offers</a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
              <!--Trigger-->
              <a onclick="dropMenu()" class="nav-link dropdown-toggle">Loại Phòng</a>
            
              <!--Menu-->
              <div class="dropdown-menu dropdown-primary position-no-important my-menu">
                {% for k in kindofroom %}
                <a class="dropdown-item" href="{{ url_for('category_detail', category_id=k.id)}}">{{ k.name }}</a>
                {% endfor %}
              </div>
          </li>
        </ul>
        <!-- Social Icon  -->
        {% if current_user.is_authenticated %}
        <div>
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item d-flex align-items-center mr-2">
              <a href="#" class="nav-link waves-effect">
                {{current_user.name}}
              </a>
            </li>
          <li class="nav-item">
                <a style="color: white !important;"
                  href="{{ url_for('logout') }}" type="button"
                  class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light">
                  Log Out</a>
          </li>
          </ul>
        </div>
        {% else %}
        <div>
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item d-flex align-items-center mr-2">
              <a href="{{ url_for('user_login') }}" class="nav-link waves-effect">
                Log In
            </a>
            </li>
            <li class="nav-item">
              <a style="color: white !important;"
                href="{{ url_for('user_register') }}" type="button"
                class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light">
                Sign Up</a>
            </li>
          </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>

</header>
<!--/Navigation & Intro-->