.card-img-top{
    height: 150px
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
/* .navbar .dropdown-menu:hover {
    position: relative !important;
} */
.background-black {
    background-color: rgba(0,0,0,.6);
}
.image-cover {
    background-size: cover;
    width: 100%;
    height: auto;
}
.image-fill-div {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.image-fill-div-top {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    object-position: top;
}