.card-img-top{
    height: 150px
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
/* .navbar .dropdown-menu:hover {
    position: relative !important;
} */
.background-black {
    background-color: rgba(0,0,0,.6);
  }