{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block intro %}
<style>
.jarallax {
    min-height: 400px;
}
</style>

<!-- Intro Section -->
<div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}' max-height="700px"
  style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img (26).jpg');">
  <div class="mask rgba-black-slight background-black">
    <div class="container h-100 d-flex justify-content-center align-items-center">
      <div class="row smooth-scroll">
        <div class="col-md-12 text-center white-text mt-4">
          <div class="wow fadeInDown" data-wow-delay="0.2s">
            <h1 class="white-text display-4 font-weight-bold mt-5 mt-xl-2">
              <em>{{ category.name }}</em>
            </h1>

            <!--Rating-->
            <ul class="rating mt-3">
              <li>
                <i class="fas fa-star"></i>
              </li>
              <li>
                <i class="fas fa-star"></i>
              </li>
              <li>
                <i class="fas fa-star"></i>
              </li>
              <li>
                <i class="fas fa-star"></i>
              </li>
              <li>
                <i class="fas fa-star"></i>
              </li>
            </ul>

            <h4 class="text-uppercase white-text mb-5 mt-3 font-weight-bold spacing">Feel like at home</h4>

          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- <div id="jarallax-container-0"
        style="position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;overflow: hidden;pointer-events: none;visibility: hidden;z-index: -100;">
        <div
            style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img (26).jpg'); position: fixed; top: 0px; left: 0px; width: 1349px; height: 899.333px; overflow: hidden; pointer-events: none; margin-left: 0px; margin-top: -132.167px; visibility: visible; transform: translateY(6.5px) translateZ(0px);">
        </div>
    </div> -->
</div>
<!-- /Intro Section -->
{% endblock %}

{% block body %}

<!-- Blog section -->
<section>

    <div class="container">

      <form class="form-inline md-form mr-auto mb-4">
        <input name="keyword" class="form-control mr-sm-2 ml-auto" type="text" placeholder="Search" aria-label="Search">
        <button class="btn blue-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
      </form>

      <!-- <p class="grey-text w-responsive text-center mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->

      <!-- Grid row -->
      <div class="row text-center mb-2">
        {% for r in room %}
        <!-- Grid column -->
        <div class="col-md-6 col-lg-4">

          <!--Card-->
          <div class="card card-personal mb-4">

            <!--Card image-->
            <div class="view overlay">
              <img class="image-fill-div-top card-img-top" 
              src="{{ url_for('static', filename=r.image)}}"
              alt="{{ r.name }}">
              <a href="{{ url_for('room_detail', room_id= r.id) }}">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <a href="{{ url_for('room_detail', room_id= r.id) }}" class="black-text">
                <h5 class="font-weight-bold text-uppercase pb-2">
                  <strong>{{ r.name }}</strong>
                </h5>
              </a>
              <a>
                <span class="badge badge-info py-2 px-2">{{ "{:,.1f}".format(r.price) }} VNĐ/Ngày</span>
              </a>

              <!--Text-->
              {% for x in r.description.split('.') %}
              <p class="grey-text mt-2" style="margin: 0px 10px">{{ x }}</p>
              {% endfor %}
                <!--Grid row-->
                <div class="row" style="margin-top: 10px">

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-12 text-center">
                    <p class="dark-grey-text">
                      <i class="fas fa-hotel dark-grey-text" aria-hidden="true"></i> 3 beds</p>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-12 text-center">
                    <p class="dark-grey-text">
                      <i class="fas fa-utensils dark-grey-text" aria-hidden="true"></i> Launches</p>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-12 text-center">
                    <p class="dark-grey-text">
                      <i class="fas fa-wifi dark-grey-text" aria-hidden="true"></i> Wi-Fi</p>
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->

              <hr>
              <!--Grid column-->
              <div class="col-12 text-center">
                <a href="{{ url_for('room_detail', room_id= r.id) }}">
                  <button class="btn btn-info btn-sm font-weight-bold btn-rounded">
                    <strong>Xem chi tiết</strong>
                  </button>
                </a>
              </div>
              <!--Grid column-->

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!-- Grid column -->
        {% endfor %}
      </div>
      <!-- Grid row -->
      {% if pages > 1 %}
      <!-- Pagination -->
      <nav class="my-4 flex-center">
        <ul class="list-unstyled pagination pagination-circle pg-blue mb-0">

          <!-- Arrow left -->
          <li class="page-item disabled">
            <a class="page-link waves-effect waves-effect" aria-label="Previous">
              <span aria-hidden="true">«</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <!-- Numbers -->
          {% for idx in range(1, pages + 1) %}
          <li class="page-item active">
            <a class="page-link waves-effect waves-effect" href="{{ url_for('category_detail',category_id=category.id, page=idx)}}">{{ idx }}</a>
          </li>
          {% endfor %}
          <!-- Arrow right -->
          <li class="page-item">
            <a class="page-link waves-effect waves-effect" aria-label="Next">
              <span aria-hidden="true">»</span>
              <span class="sr-only">Next</span>
            </a>
          </li>

        </ul>
      </nav>
      <!-- Pagination -->
      {% endif %}
    </div>

</section>
<!-- Blog section -->
{% endblock %}