{% extends 'base.html' %}

{% block title %} Đặt Phòng {% endblock %}

{% block intro %}
<style>
  .jarallax {
    min-height: 400px;
  }

  .md-form .input-prefix {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: color .2s;
    transition: color .2s;
    color: rgba(0,0,0,0.87);
    pointer-events: none;
  }

  .md-form.input-with-post-icon .input-prefix {
      right: 16px;
      left: initial;
  }
  .md-form .input-prefix.active {
      color: #4285f4;
  }
  div.datepicker input ~ i.input-prefix {
    cursor: pointer;
    pointer-events: all;
  }
  .datepicker {
    margin-top: 2.5rem !important;
  }

</style>

<div id="home" class="view jarallax room-intro" data-jarallax='{"speed": 0.2}' max-height="700px"
  style="background-image: url({{ url_for('static', filename='images/london_street.jpg')}});">
  <div class="mask rgba-black-slight background-black">
    <div class="container h-100 d-flex justify-content-center align-items-center">
      <div class="row smooth-scroll">
        <div class="col-md-12 text-center white-text mt-4">
          <div class="wow fadeInDown" data-wow-delay="0.2s">
            <h1 class="white-text display-4 font-weight-bold mt-5 mt-xl-2">
              <em>Reservation</em>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block body %}

<div class="container">

  <!--Section: Block Content-->
  <section class="mt-5 mb-4">

    <!--Grid row-->
    <form id="checkout-form" method="post" action="{{ url_for('checkout', room_id=room.id) }}" class="row">

      <!--Grid column-->
      <div class="col-lg-8 mb-4">

        <!-- Card -->
        <div class="card wish-list pb-1">
          <div class="card-body">

            {% include 'client/layout/message.html' %}

            <h5 class="mb-2">Thông tin</h5>

            <!-- Reserve Room -->
            <div class="md-form md-outline mb-0 mb-lg-4">
              <input type="text" id="roomID" name="roomID" value="{{ room.name }}" class="form-control mb-0 mb-lg-2"
                style="background: #dddddd52;" disabled>
              <label for="firstName" style="background: transparent;">Phòng Đặt</label>
            </div>

            <!-- Reserve by -->
            <div class="md-form md-outline mb-0 mb-lg-4">
              <input type="text" id="reserveBy" name="reserveBy" value="{{ reserveBy }}" class="form-control mb-0 mb-lg-2" required>
              <label for="reserveBy">Người Đặt *</label>
            </div>

            <!-- Reserve by -->
            <div class="md-form md-outline mb-0 mb-lg-4">
              <input type="number" id="phone" name="phone" value="{{ phone }}" class="form-control mb-0 mb-lg-2" required>
              <label for="phone">Điện Thoại *</label>
            </div>

            <!-- Checkin time -->
            <div class="md-form md-outline input-with-post-icon datepicker" inline="true">
              <input type="date" id="checkInTime" name="checkInTime" value="{{ checkInTime }}" class="form-control" required>
              <label for="checkInTime">Ngày đặt phòng *</label>
            </div>


            <!-- Checkout time -->
            <div class="md-form md-outline input-with-post-icon datepicker">
              <input type="date" id="checkoutTime" name="checkoutTime" value="{{ checkoutTime }}" class="form-control" required>
              <label for="form16">Ngày nhận phòng *</label>
            </div>
          </div>
        </div>
        <!-- Card -->

      </div>
      <!-- End Grid column-->


      <!-- Submit column -->
      <div class="col-lg-4">

        <!-- Card -->
        <div class="card mb-4">
          <div class="card-body">

            <h5 class="mb-3">The total amount of</h5>

            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0" style="border: 0;">
                Temporary amount
                <span>$53.98</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0" style="border: 0;">
                Shipping
                <span>Gratis</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3" style="border-top: 1px solid rgba(0,0,0,.125) !important;">
                <div>
                  <strong>The total amount of</strong>
                  <strong>
                    <p class="mb-0">(including VAT)</p>
                  </strong>
                </div>
                <span><strong>$53.98</strong></span>
              </li>
            </ul>

            
            <input form="checkout-form" type="submit" class="btn btn-primary btn-block waves-effect waves-light"></input>

          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">
          <div class="card-body">

            <a class="dark-grey-text d-flex justify-content-between collapsed" data-toggle="collapse"
              href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Add a discount code (optional)
              <span><i class="fas fa-chevron-down pt-1"></i></span>
            </a>

            <div class="collapse" id="collapseExample" style="">
              <div class="mt-3">
                <div class="md-form md-outline mb-0">
                  <input type="text" id="discount-code" class="form-control font-weight-light"
                    placeholder="Enter discount code">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->

      </div>
      <!--Submit column-->

      <!-- Button Add Customer -->
      <div class="col-lg-8 mb-4 d-flex align-items-center">
        <button type="button" class="btn btn-primary"><i class="fas fa-plus mr-1"></i></i> Thêm Khách đi chung (Optional)</button>
        <a class="nav-link" data-toggle="tab" href="#panel90" role="tab">
          <i class="fas fa-users ml-1"aria-hidden="true"></i>
          <span class="ml-2">{{ room.quantity }} remaining</span>
        </a>
      </div>
      
      <!-- Cac Khach Hang -->

      {% for customer in range(0, room.quantity) %}
      <!--Grid column-->
      <div class="col-lg-8 mb-4">
      
        <!-- Card -->
        <div id="checkout-form" class="card wish-list pb-1">

          <div class="card-body">
            <a class="dark-grey-text d-flex justify-content-between collapsed" data-toggle="collapse"
              href="#customerCollapse-{{ customer }}" aria-expanded="false" aria-controls="customerCollapse-{{ customer }}">
              Khách Hàng {{loop.index}} (Có thể bỏ trống)
              <span><i class="fas fa-chevron-down pt-1"></i></span>
            </a>
          
            <div class="collapse" id="customerCollapse-{{ customer }}" style="">
              <div class="mt-3">
                <!-- Customer Name -->
                <div class="md-form md-outline mb-0 mb-lg-4">
                  <input type="text" id="customerName[]" name="customerName[]" value="{{ customerNames[loop.index0] }}" class="form-control mb-0 mb-lg-2" required>
                  <label for="customerName[]">Tên Khách Hàng *</label>
                </div>
                
                
                <!-- Customer Type  -->
                <div class="md-form md-outline mb-0 mb-lg-4">
                  <select name="customerType[]" class="browser-default custom-select" required>
                    <option value="" selected>Chọn Loại Khách *</option>
                    <!-- Set outer_loop to variables so we can use later -->
                    {% set outer_loop = loop %}
                    
                    {% for customerTypedb in customer_types_db %}
                      {% if customerTypedb.id|lower == unfilterTypes[outer_loop.index0]|lower %}
                      <option value="{{ customerTypedb.id }}" selected>{{ customerTypedb.name }}</option>
                      {% else %}
                      <option value="{{ customerTypedb.id }}">{{ customerTypedb.name }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>

                <!-- Id  -->
                <div class="md-form md-outline mb-0 mb-lg-4">
                  <input type="text" id="idCard[]" name="idCard[]" value="{{ idCards[loop.index0] }}" inputmode="numeric" pattern="[0-9\s]{8,12}" class="form-control mb-0 mb-lg-2">
                  <label for="idCard[]">CMND / CCCD (8 đến 12 số)</label>
                </div>
                
                <!-- address  -->
                <div class="md-form md-outline mb-0 mb-lg-4">
                  <input type="text" id="address[]" name="address[]" value="{{ addresses[loop.index0] }}" class="form-control mb-0 mb-lg-2" required>
                  <label for="address[]">Địa Chỉ *</label>
                </div>
              </div>
            </div>
          </div>
         
        </div>
        <!-- Card -->
      
      </div>
      <!--Grid column-->
      {% endfor %}

    </form>
    <!--Grid row-->

  </section>
  <!--Section: Block Content-->


</div>


{% endblock %}

{% block scripts %}
<script>
  let customerTypes = [];

  {% for customer_type_db in customer_types_db %}
  customerTypes.push('{{ customer_type_db }}')
  {% endfor %}

  console.log(customerTypes);
</script>
{% endblock scripts %}
