{% extends 'base.html' %}

{% block title %} Room Details {% endblock %}

{% block intro %}
<style>
    .jarallax {
        min-height: 400px;
    }
</style>

<div id="home" class="view jarallax room-intro" data-jarallax='{"speed": 0.2}' max-height="700px"
  style="background-image: url({{ url_for('static', filename=room.image)}});">
  <div class="mask rgba-black-slight background-black">
    <div class="container h-100 d-flex justify-content-center align-items-center">
      <div class="row smooth-scroll">
        <div class="col-md-12 text-center white-text mt-4">
          <div class="wow fadeInDown" data-wow-delay="0.2s">
            <h1 class="white-text display-4 font-weight-bold mt-5 mt-xl-2">
              <em>Phòng đơn</em>
            </h1>

            <!--Rating-->
            <ul class="rating mt-3">
              <li>
                <i class="fas fa-star"></i>
              </li>
              <li>
                <i class="fas fa-star"></i>
              </li>
              <li>
                <i class="fas fa-star"></i>
              </li>
              <li>
                <i class="fas fa-star"></i>
              </li>
              <li>
                <i class="fas fa-star"></i>
              </li>
            </ul>

            <h4 class="text-uppercase white-text mb-5 mt-3 font-weight-bold spacing">Feel like at home</h4>

          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- <div id="jarallax-container-0"
        style="position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;overflow: hidden;pointer-events: none;visibility: hidden;z-index: -100;">
        <div
            style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img (26).jpg'); position: fixed; top: 0px; left: 0px; width: 1349px; height: 899.333px; overflow: hidden; pointer-events: none; margin-left: 0px; margin-top: -132.167px; visibility: visible; transform: translateY(6.5px) translateZ(0px);">
        </div>
    </div> -->
</div>
{% endblock %}

{% block body %}

<div class="container mt-5 pt-3">

  <!-- main -->
  <div class="card mb-4">
      
    <div class="row">

      <div class="col-md-6">
        <img class="img-fluid rounded-left" src="{{ url_for('static', filename=room.image)}}" alt="project image">
      </div>

      <div class="col-md-6 p-5 align-self-center">

        <h2 class="font-weight-bold mb-4">{{ room.name }}</h2>

        <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">

          <span class="red-text font-weight-bold h5">

            <strong>{{ "{:,.0f}".format(room.price) }} VNĐ/Ngày</strong>

          </span>

          <!-- <span class="grey-text">

            <small>

              <s>$89</s>

            </small>

          </span> -->

        </h3>

        <!-- Accordion wrapper -->
        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

          <!-- Accordion card -->
          <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingOne1">

              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1" class="collapsed">

                <h5 class="mb-0">

                  Address

                  <i class="fas fa-angle-down rotate-icon"></i>

                </h5>

              </a>

            </div>

            <!-- Card body -->
            <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">

              <div class="card-body">

                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                wolf moon officia aute,

                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                moon

                tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.

              </div>

            </div>

          </div>
          <!-- Accordion card -->

          <!-- Accordion card -->
          <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingTwo2">

              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">

                <h5 class="mb-0">

                  Email

                  <i class="fas fa-angle-down rotate-icon"></i>

                </h5>

              </a>

            </div>

            <!-- Card body -->
            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">

              <div class="card-body">

                nguyenoccuc@gmail.com

              </div>

            </div>

          </div>
          <!-- Accordion card -->

          <!-- Accordion card -->
          <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree3">

              <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">

                <h5 class="mb-0">

                  Details

                  <i class="fas fa-angle-down rotate-icon"></i>

                </h5>

              </a>

            </div>

            <!-- Card body -->
            <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">

              <div class="card-body">

                <ul class="list-group list-group-flush">
                  {% for des in room.description.split('.') %}
                    <li class="list-group-item">{{ des }}</li>
                  {% endfor %}
                </ul>

              </div>

            </div>

          </div>
          <!-- Accordion card -->

        </div>
        <!-- Accordion wrapper -->

      </div>

    </div>

  </div>
  <!-- main -->

  <!-- divider -->
  <div class="divider-new">

    <h3 class="h3-responsive font-weight-bold blue-text mx-3">Room Reviews</h3>

  </div>
  <!-- divider -->

  <!-- Review Section -->
  <section id="reviews" class="pb-5">

    <!-- Main wrapper -->
    <div class="comments-list text-center text-md-left">

      <!-- First row -->
      <div class="row mb-5">

        <!-- Image column -->
        <div class="col-sm-2 col-12 mb-3">

          <img src="https://mdbootstrap.com/img/Photos/Avatars/img (8).jpg" alt="sample image" class="avatar rounded-circle z-depth-1-half">

        </div>
        <!-- Image column -->

        <!-- Content column -->
        <div class="col-sm-10 col-12">

          <a>

            <h5 class="user-name font-weight-bold">John Doe</h5>

          </a>

          <!-- Rating -->
          <ul class="rating">

            <li>

              <i class="fas fa-star blue-text"></i>

            </li>

            <li>

              <i class="fas fa-star blue-text"></i>

            </li>

            <li>

              <i class="fas fa-star blue-text"></i>

            </li>

            <li>

              <i class="fas fa-star blue-text"></i>

            </li>

            <li>

              <i class="fas fa-star blue-text"></i>

            </li>

          </ul>

          <div class="card-data">

            <ul class="list-unstyled mb-1">

              <li class="comment-date font-small grey-text">

                <i class="far fa-clock-o"></i> 05/10/2015</li>

            </ul>

          </div>

          <p class="dark-grey-text article">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis

            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur

            sint occaecat cupidatat non proident.</p>

        </div>
        <!-- Content column -->

      </div>
      <!-- First row -->

      <!-- Second row -->
      <div class="row mb-5">

        <!-- Image column -->
        <div class="col-sm-2 col-12 mb-3">

          <img src="https://mdbootstrap.com/img/Photos/Avatars/img (30).jpg" alt="sample image" class="avatar rounded-circle z-depth-1-half">

        </div>
        <!-- Image column -->

        <!-- Content column -->
        <div class="col-sm-10 col-12">

          <a>

            <h5 class="user-name font-weight-bold">Lily Brown</h5>

          </a>

          <!-- Rating -->
          <ul class="rating">

            <li>

              <i class="fas fa-star blue-text"></i>

            </li>

            <li>

              <i class="fas fa-star blue-text"></i>

            </li>

            <li>

              <i class="fas fa-star blue-text"></i>

            </li>

            <li>

              <i class="fas fa-star blue-text"></i>

            </li>

            <li>

              <i class="fas fa-star blue-text"></i>

            </li>

          </ul>

          <div class="card-data">

            <ul class="list-unstyled mb-1">

              <li class="comment-date font-small grey-text">

                <i class="far fa-clock-o"></i> 05/10/2015</li>

            </ul>

          </div>

          <p class="dark-grey-text article">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis

            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur

            sint occaecat cupidatat non proident.</p>

        </div>
        <!-- Content column -->

      </div>
      <!-- Second row -->

      <!-- Third row -->
      <div class="row mb-5">

        <!-- Image column -->
        <div class="col-sm-2 col-12 mb-3">

          <img src="https://mdbootstrap.com/img/Photos/Avatars/img (28).jpg" alt="sample image" class="avatar rounded-circle z-depth-1-half">

        </div>
        <!-- Image column -->

        <!-- Content column -->
        <div class="col-sm-10 col-12">

          <a>

            <h5 class="user-name font-weight-bold">Martha Smith</h5>

          </a>

          <!-- Rating -->
          <ul class="rating">

            <li>

              <i class="fas fa-star blue-text"></i>

            </li>

            <li>

              <i class="fas fa-star blue-text"></i>

            </li>

            <li>

              <i class="fas fa-star blue-text"></i>

            </li>

            <li>

              <i class="fas fa-star blue-text"></i>

            </li>

            <li>

              <i class="fas fa-star blue-text"></i>

            </li>

          </ul>

          <div class="card-data">

            <ul class="list-unstyled mb-1">

              <li class="comment-date font-small grey-text">

                <i class="far fa-clock-o"></i> 05/10/2015</li>

            </ul>

          </div>

          <p class="dark-grey-text article">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis

            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur

            sint occaecat cupidatat non proident.</p>

        </div>
        <!-- Content column -->

      </div>
      <!-- Third row -->

    </div>
    <!-- Main wrapper -->

  </section>
  <!-- Review Section -->
</div>

{% endblock %}