{% extends 'base.html' %}

{% block title %} Trang chu {% endblock %}

{% block body %}

<h1 class="subject text-center">{{ s }}</h1>

 <form class="form-inline">
      <input class="form-control mb-2 mr-sm-2" type="number" name="from_price" placeholder="Nhap gia bat dau..." />
      <input class="form-control mb-2 mr-sm-2" type="number" name="to_price" placeholder="Nhap gia ket thuc..." />
      <input class="form-group btn btn-success mb-2" type="submit" value="Tim" />
 </form>

{% if room %}
<div class="row">
    {% for r in room %}
    <div class="col-md-3 col-xs-12" style="padding:5px">
        <div class="card" style="padding:5px">
          <img class="card-img-top"  src="{{ url_for('static', filename=r.image) }}" alt="{{ r.name }}">
          <div class="card-body">
            <h4 class="card-title">{{ r.name }}</h4>
              <p class="card-text">{{ r.description }} </p>
              <p class="card-text text-danger">{{ "{:,.1f}".format(r.price) }} VND/Đêm</p>
            <a href="#" class="btn btn-primary">Đặt phòng</a>
          </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if pages > 1 %}
<ul class="pagination">
    {% for idx in range(1, pages + 1) %}
    <li class="page-item"><a class="page-link" href="{{ url_for('home', page=idx) }}">{{ idx }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% else %}
<p><i>Khong co san pham nao!!!</i></p>
{% endif %}

{% endblock %}