{% extends 'base.html' %}

{% block title %} Dang Ky {% endblock %}

{% block body %}

<style>

    html,
    body,
    .view {
      height: 100%;
    }

    @media (min-width: 851px) and (max-width: 1440px) {
      html,
      body,
      .view {
        height: 850px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      .view {
        height: 1000px;
      }
    }

    @media (min-width: 451px) and (max-width: 740px) {
      html,
      body,
      .view {
        height: 1200px;
      }
    }

    @media (max-width: 450px) {
      html,
      body,
      header,
      .view {
        height: 1400px;
      }
    }

    .intro-2 {
      background: url("https://mdbootstrap.com/img/Photos/Others/forest1.jpg")no-repeat center center;
      background-size: cover;
    }

    .top-nav-collapse {
      background-color: #3f51b5 !important;
    }

    .navbar:not(.top-nav-collapse) {
      background: transparent !important;
    }

    @media (max-width: 768px) {
      .navbar:not(.top-nav-collapse) {
        background: #3f51b5 !important;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
            background: #3f51b5!important;
        }
    }

    .rgba-gradient {
      background: -webkit-linear-gradient(98deg, rgba(22, 91, 231, 0.5), rgba(255, 32, 32, 0.5) 100%);
      background: -webkit-gradient(linear, 98deg, from(rgba(22, 91, 231, 0.5)), to(rgba(255, 32, 32, 0.5)));
      background: linear-gradient(to 98deg, rgba(22, 91, 231, 0.5), rgba(255, 32, 32, 0.5) 100%);
    }

    .card {
      background-color: rgba(255, 255, 255, 0.85);
    }

    h6 {
      line-height: 1.7;
    }
</style>


<!--Intro Section-->
<section class="view intro-2">
    <div class="mask rgba-gradient">
      <div class="container h-100 d-flex justify-content-center align-items-center">

        <!--Grid row-->
        <div class="row  pt-5 mt-3">

          <!--Grid column-->
          <div class="col-md-12">

            <div class="card">
              <div class="card-body">

                <h2 class="font-weight-bold my-4 text-center mb-5 mt-4 font-weight-bold">
                  <strong>REGISTER</strong>
                </h2>
                {% if error_msg %}
                    <div class="alert alert-danger"><h4>{{error_msg}}</h4></div>
                {% endif %}

                <!--Grid row-->
                <div class="row mt-5" style="min-width: 400px;">

                  <!--Grid column-->
                  <form class="col-11 mx-auto" action="{{ url_for('user_register') }}" method="post">

                    <!--Body-->
                    <div class="md-form">
                      <i class="fas fa-user prefix"></i>
                      <input type="text" id="orangeForm-name" class="form-control" name="name" required>
                      <label for="orangeForm-name">Your name</label>
                    </div>
                    <div class="md-form">
                      <i class="fas fa-user-circle prefix" ></i>
                      <input type="text" id="orangeForm-username" class="form-control" name="username" required>
                      <label for="orangeForm-username">Username</label>
                    </div>
                    <div class="md-form">
                      <i class="fas fa-envelope prefix"></i>
                      <input type="text" id="orangeForm-email" class="form-control" name="email">
                      <label for="orangeForm-email">Your email</label>
                    </div>
                    <div class="md-form">
                      <i class="fas fa-lock prefix"></i>
                      <input type="password" id="orangeForm-pass" class="form-control" name="password" required>
                      <label for="orangeForm-pass">Your password</label>
                    </div>
                    <div class="md-form">
                      <i class="fas fa-lock prefix"></i>
                      <input type="password" id="orangeForm-confirm" class="form-control" name="confirm" required>
                      <label for="orangeForm-confirm">Confirm password</label>
                    </div>

                    <div class="text-center">
                      <input type="submit" class="btn btn-indigo btn-rounded mt-5" value="Sign In"/>
                    </div>

                  </form>
                  <!--Grid column-->

                </div>
                <!--Grid row-->

              </div>
            </div>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
    </div>
  </section>
  <!--Intro Section-->

{% endblock %}